---
layout: basic
---

<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>About</h4>
          <p class="text-body-secondary">Add some information about the album below, the author, or any other background
            context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to
            some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">

        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
          viewBox="0 0 24 24">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
          <circle cx="12" cy="13" r="4" /></svg>
        <strong>Baby Chambers picture website</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>
  <img src="assets/images/header.jpg" style="width:100%">
  <section class="py-5 container">

    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8">

      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://raw.githubusercontent.com/robchamberspfc/little-one/master/content/first-month/IMG_20160728_104115390.jpg">
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://upcdn.io/W142iMn/raw/Test/IMG_20160728_104115390.jpg?w=80&h=60&fit=crop&tint=377DFF">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
  src="https://upcdn.io/W142iMn/image/Test/IMG_20160728_104115390.jpg?w=300&fit=crop">
  <img
  src="https://upcdn.io/W142iMn/raw/Test/IMG_20160728_104115390.jpg?w=80&h=60&fit=crop&tint=377DFF">
</main>

</div>
</main>

<script>
async function getFolderDetails(params) {  
  const baseUrl  = "https://api.bytescale.com";
  const path     = `/v2/accounts/${params.accountId}/folders`;
  const entries  = obj => Object.entries(obj).filter(([,val]) => (val ?? null) !== null);
  const query    = entries(params.querystring ?? {})
                     .flatMap(([k,v]) => Array.isArray(v) ? v.map(v2 => [k,v2]) : [[k,v]])
                     .map(kv => kv.join("=")).join("&");
  const response = await fetch(`${baseUrl}${path}${query.length > 0 ? "?" : ""}${query}`, {
    method: "GET",
    headers: Object.fromEntries(entries({
      "Authorization": `Bearer ${params.apiKey}`,
    }))
  });
  const result = await response.json();
  if (Math.floor(response.status / 100) !== 2)
    throw new Error(`Bytescale API Error: ${JSON.stringify(result)}`);
  return result;
}

getFolderDetails({
  accountId: "W142iMn",
  apiKey: "secret_W142iMnFcisXHgkhyk4e7qjqJicu",
  querystring: {
    folderPath: "/test"
  }
}).then(
  response => console.log(response),
  error => console.error(error)
);
</script>

<!-- https://api.bytescale.com/v2/accounts/W142iMn/folders/list -->