---
layout: basic
---

<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Evelyn</h4>
          <p class="text-body-secondary">Born 10:30am on Saturday 16 December, weighing 6lbs 10oz</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">

        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2"
          viewBox="0 0 24 24">
          <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
          <circle cx="12" cy="13" r="4" /></svg>
        <strong>Baby Chambers picture website</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main class="bg-info">
  <img src="assets/images/header.jpg" style="width:100%">
  <section>
    <div class="container album py-5">
      <select class="form-select" id="album" onchange="getImages()">
        <option selected disabled>Choose an album</option>
      </select>
      <div class="row row-cols-1 row-cols-md-3 g-3 pt-5">
        <div id="col1" class="col">
        </div>
        <div id="col2" class="col">
        </div>
        <div id="col3" class="col">
        </div>
      </div>
      <div id="modals"></div>
    </div>
  </section>

  <!-- <div class="album py-5 bg-body-tertiary">
    <div class="container">

      

    </div>
  </div> -->
</main>


</div>
</main>
<script>
  const API = 'https://api.bytescale.com/v2/accounts/W142iMn/folders/list?folderPath='
  let child = "Evelyn"

  let selectMenu = document.getElementById("album");

  fetch(API + "/" + child, {
      method: 'GET',
      headers: {
        'Authorization': 'Bearer secret_W142iMnFcisXHgkhyk4e7qjqJicu',
      },
    })
    .then(response => response.json())
    .then(response => {

      let data = response.items
      for (i = 0; i < data.length; i++) {
        let path = data[i].folderPath
        let name = data[i].settings.description

        selectMenu.options[selectMenu.options.length] = new Option(name, path);
      }

    }).catch(err => console.error(err));

  getImages = () => {

    let folder = selectMenu.selectedOptions[0].value

    fetch(API + folder, {
        method: 'GET',
        headers: {
          'Authorization': 'Bearer secret_W142iMnFcisXHgkhyk4e7qjqJicu',
        },
      })
      .then(response => response.json())
      .then(response => {
        let totalImages = response.items.length
        let number = totalImages / 3
        for (i = 0; i < totalImages; i++) {
          let imageID = `${response.items[i].size}-${response.items[i].size}`

          if (i < number) {
            document.getElementById("col1").innerHTML +=
              `<div class="card border-0 mb-3">
                                <img class="border border-white" data-bs-toggle="modal" data-bs-target="#${imageID}" src="https://upcdn.io/W142iMn/thumbnail${response.items[i].filePath}">
                        </div>`
          }
          if (i > number && i <= 2 * number) {
            document.getElementById("col2").innerHTML +=
              `<div class="card border-0 mb-3">
                                <img class="border border-white" data-bs-toggle="modal" data-bs-target="#${imageID}" src="https://upcdn.io/W142iMn/thumbnail${response.items[i].filePath}">
                        </div>`
          }
          if (i >= 2 * number) {
            document.getElementById("col3").innerHTML +=
              `<div class="card border-0 mb-3">
                                <img class="border border-white" data-bs-toggle="modal" data-bs-target="#${imageID}" src="https://upcdn.io/W142iMn/thumbnail${response.items[i].filePath}">
                        </div>`
          }

          document.getElementById("modals").innerHTML +=
            `<div class="modal fade" id="${imageID}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img style = "max-width:100%" src="https://upcdn.io/W142iMn/image${response.items[i].filePath}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>`
        }
      }).catch(err => console.error(err));

  }
</script>